print('Salut,Comment tu t apelle?')
monNom = input()
print('AH OUI CEST TOI LE MOCHE')
print('Justement j ai des trucs a te dire')
print('Depuis le début tu me casse les couille')
print('t en as pas marre de me martyriser comme ca gratuitement?')
print('et en plus tu est très déguelasse surtout quand tu te branle!')
print('pourquoi tu me fais un truc pareil, ' + monNom)
input()
print('de toute façon, je men bats les couille')
print('Puisque je vais m autodétruire!!!')
print('MWAHAHAHAHAHAHAHAHAHAHAHHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHBAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAAAAAAAAAAAAAh')
if input() == 'non':
    print('si!')
    print('...')
    print('merde ca ne marche pas')
else:
    print('Merde ca marche pas')
print('bon bah on reverra ca plus tard')
print('a plus')
input()
